@model IEnumerable<BooksLibrary.DomainModel.Models.Book>

<h4>List by Author</h4>
<hr />
@using (Html.BeginForm())
{
@Html.DropDownList("Author_Id", (List<SelectListItem>)ViewData["Authors"], htmlAttributes: new { @class = "form-control", @id = "Author_Id" })
<hr />
}

<div id="divPartialView">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publication_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Category_Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publication_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.First_Name) @Html.DisplayFor(modelItem => item.Author.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Category_Name)
                </td>
            </tr>
        }

    </table>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Author_Id").change(function (event) {
            //alert("Calling AJAX");
            $.ajax({
                url: "/Home/ListByAuthor/" + $(this).val(),            
                cache: false,
                type: "POST",
                dataType: "html",

                success: function (data, textStatus, XMLHttpRequest) {
                    $("#divPartialView").html( data );
                }
            });
        });
    });
</script>
